{% extends 'emails/base.html' %}

{% block content %}
{% autoescape off %}
    <p>Looks like your DM has cancelled the game session you were going to attend:</p>

    <ul>
        <li><strong>Adventure name</strong>: {{ game.adventure }}</li>
        <li><strong>Game date</strong>: {{ game.date|date:"l, d. E Y" }}, {{ game.time_start|time:"H:i" }}</li>
        <li><strong>Table</strong>: {{ game.table }}</li>
    </ul>

    <p>You can see the details of game <a href="{{ game.get_absolute_url }}">on the page.</a></p>

    <p>If no other DM takes on this this game. It will not be played. We will let you know, when other DM takes on this game.</p>

{% endautoescape %}
{% endblock %}
